# Dependências (O GitHub não precisa disso, quem baixar instala com npm install)
node_modules/
/server/node_modules/

# Variáveis de Ambiente e Segredos (NUNCA suba isso)
.env
/server/.env

# Logs e arquivos de sistema
npm-debug.log*
.DS_Store
Thumbs.db

# Build do React (Geralmente a gente não sobe a build, só o código fonte)
dist/
build/